div {
    display: grid;
    align-items: center;
    justify-content: center;
}

#button {
    border: none;
    cursor: pointer;
    border: 2px double blue;
}

p:hover {
    background-color: blue;
    color: red;
}

p {
    text-align: center;
}

span {
    background-color: pink;
}